@import 'basics';

#container input[type="text"],#container textarea {
    color:#000;
}

@import 'header';
@import 'popover';
@import 'footer';
@import 'featured';

* {
  box-sizing: border-box;
}

#inbound_form_submit, #ninja_forms_form_2_mp_next, #ninja_forms_field_268, .ninja-forms-mp-next, .ninja-forms-mp-prev, div[id^="nf_submit_"] input {
    color:#FFF !important;
    padding:10px 15px 10px 15px !important;
    background:#f29305;
    background-image: -moz-linear-gradient( 90deg, rgb(222,115,0) 0%, rgb(242,147,5) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(222,115,0) 0%, rgb(242,147,5) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(222,115,0) 0%, rgb(242,147,5) 100%);
    font-family: 'LatoLatin';
    border: none;
    margin-top:15px;
}

#inbound_form_submit:hover, #ninja_forms_form_2_mp_next:hover, #ninja_forms_form_2_mp_prev:hover, div[id^="nf_submit_"] input:hover
{
     background: #f29100;
     background-image: linear-gradient( -90deg, rgb(199,119,0) 0%, rgb(242,145,0) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(199,119,0) 0%, rgb(242,145,0) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(199,119,0) 0%, rgb(242,145,0) 100%);
    box-shadow:         inset 0 0 5px #b65e00;
    color:#e2bea7;

}


#kontaktformular label, #adhoc-datenanfrage label {
    padding-top:10px;
    clear: both;
    margin-bottom: 0;
}

#kontaktformular input, #kontaktformular textarea {
    padding:5px;
}


.ninja-forms-error input {
    border: 1px solid #ff0000;
}

.ninja-forms-error input:focus {
    border: 1px solid white;
}

.ninja-forms-cont select {
    width:auto;
}

.ninja-forms-cont h3 {
    color: #FFF;
}

#kontaktformular input, #kontaktformular select, #kontaktformular textarea, .ninja-forms-cont input, .ninja-forms-cont select, .ninja-forms-cont textarea {
    color:#000;
    padding:3px;
}

#ninja_forms_field_21 {
    width:auto;
}


.featuredpoints h2 {
	margin: 20px 0 0 50px;
}

/* Content */

.articlewrapper {
    background-color:#26686d;
    float:left;
}

article {
  height:100%;
}

#content {
    width:100%;
    background-color:#26686d;
    float:left;
    @include shadow;
}

#content-leads {
    background-color: rgba(0, 158, 228, 0.9);
    float:left;
}

#contentprojekt {
    background: none repeat scroll 0 0 rgba(9, 91, 96, 0.9);
    float:left;
}

.content {
     background-color:#26686d;
    float:left;
    padding:20px 0 30px 0;
    @include shadow;
}

.content h2 {
    color:#FFF;
    padding:30px 0 0 0;
}

.featuredtitle {
    padding:10px 0 10px 0;
}


/* Slides */


.fl3 {
    display: none;
}

#fl3 {
    width:700px;;
    height:400px;
}


.navclear {
    margin-top:50px;
}


.button {
    color:#FFF;
    padding:10px 15px 10px 15px;
    background:#f29305;
    background-image: -moz-linear-gradient( 90deg, rgb(222,115,0) 0%, rgb(242,147,5) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(222,115,0) 0%, rgb(242,147,5) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(222,115,0) 0%, rgb(242,147,5) 100%);
    font-family: 'LatoLatin';
    border: none;
}

@mixin button-beige {
    background:$beige;
    background-image: -moz-linear-gradient( 90deg, darken($beige,12) 0%, darken($beige,30) 100%);
    background-image: -webkit-linear-gradient( 90deg, darken($beige,12) 0%, darken($beige,30) 100%);
    background-image: -ms-linear-gradient( 90deg, darken($beige,12) 0%, darken($beige,30) 100%);
    border: none;
}
@mixin button-beige-hover {
    background:$beige;
    background-image: -moz-linear-gradient(90deg, darken($beige, 10) 0%, darken($beige, 16) 100%);
    background-image: -webkit-linear-gradient(90deg, darken($beige, 10) 0%, darken($beige, 16) 100%);
    background-image: -ms-linear-gradient(90deg, darken($beige, 10) 0%, darken($beige, 16) 100%);
    box-shadow: inset 0 0 5px darken($beige,34);
    border: none;
}

.button:visited, .button:focus, .button:link {
    color:#FFF;
}

.button:hover {
    background: #f29100;
    background-image: -moz-linear-gradient( -90deg, rgb(199,119,0) 0%, rgb(242,145,0) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(199,119,0) 0%, rgb(242,145,0) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(199,119,0) 0%, rgb(242,145,0) 100%);
    box-shadow:         inset 0 0 5px #b65e00;
    color:#e2bea7;
}

.registerbutton {
    font-family: 'geogrotesquesemibold';
    font-size:1em;
    text-transform: uppercase;
    display: block;
    width:230px;
    color:#FFF;
}

.featuredbutton {
    font-family: 'geogrotesquesemibold';
    text-transform: uppercase;
    padding: 8px 16px;
}


.submitbutton {
    font-family: 'geogrotesquesemibold';
    text-transform: uppercase;
}

.registerinput {
    padding: 13px 5px;
    border: none;
    width:195px;
    display:inline
}


#leftcontent {
    background: none;
}

#leftcontent h2 {
    color:#FFF;
    line-height:1em;
    margin-bottom:10px;
}

#leftcontent div {
    padding-bottom:15px;
}

#leftcontent a {
    color:#F29100;
}

#lefcontent p {
    font-size:0.889em;
}

/* Content */

.page-entry {
    color:#FFF;
}

.page-content {
    color:#FFF;
    padding-bottom: 20px;
}

.page-content h2 {
    color:#FFF;
    margin: 10px 0;
}

.entry-content {
    color:#FFF;
}

header h1.entry-title, header h1.page-title, .page-content h1 {
    color:#FFF;

}

.entry-title {
    padding-top:20px;
}


h2.page-title {
    padding:20px;
}

h2.team-title {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top:0;
}

h2.page-title span, .usewrp span {
    font-family:'dosisregular';
}

.entry-title a {
    color:#FFF;
    text-decoration: none;
}




.contentblockwrp {
    width:100%;
    float:left;
    background-color:#26686d;
    padding-top:30px;
    padding-bottom: 15px;
    margin-top:10px;
}

.contentblock a {
    color:#FFF;
}



.partnerpager {
    float:right;
}

.partnerpager li {
    display: inline;
}

.partnerpager a:before {
    font-family: 'FontAwesome';
    padding:5px;
    content: '\f10c';
    color:#93b4b6;
}

.partnerpager li.partner_here a:before {
    content: '\f111';
    color:#93b4b6;
}





/* Live Demo Block */

.mailadress:before {
    font-family:'Simple-Line-Icons';
    content:"\e086";
    margin:10px 10px 10px 0;
}

.consultant:before {
    font-family:'Simple-Line-Icons';
    content:"\e048";
    margin:10px 10px 10px 0;
}

/* Advisory Block */




.events {
    margin-left:30px;
}

.events li {
    list-style-type: disc;
}

.list {
	margin-left:40px;
	}

.list li {
	line-height:1.3em;
	margin:3px 0;
	}

.list li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

/* Blog Widgets */

#blogwidget .widget-title {
    display: none;
}

/* Leads Block */
#content-leads .leadsbutton {
	float: left;
	width: 250px;
}
#content-leads h3 {
	color: #fff;
	margin: 20px 0 10px 0;
}
#content-leads a {
	color: #fff;
	border-bottom: 1px #fff solid;
}
#content-leads a:hover {
	color: #c5592f;
	border-bottom: 1px #c5592f solid;
}
#content-leads ol {
    list-style-type: decimal;
	margin-bottom: 10px;
	text-align: left;
}
#content-leads ol li {
	margin: 0 0 15px 30px;
	padding-left: 0px;
    font-weight: bold;
}
#content-leads .text {
	height: 300px;
}
#content-leads .grid_4 img {
	width: 90%;
	margin-left: 0px;
}
#content-leads .vorteile {
	background:#ffecfc;
    background-image: -moz-linear-gradient( 90deg, #e8f6fc 0%, #fff 100%);
    background-image: -webkit-linear-gradient( 90deg, #e8f6fc 0%, #fff 100%);
    background-image: -ms-linear-gradient( 90deg, #e8f6fc 0%, #fff 100%);
	padding: 5px 15px 10px 15px;
	color: rgba(0, 158, 228, 1);
	margin: 15px 0 0 0;
}
#content-leads .vorteile h3 {
	color: rgba(0, 158, 228, 1);
}
#content-leads th {
    font-family: 'geogrotesquesemibold';
    font-size:1em;
    color: rgba(0, 158, 228, 1);
    text-transform: uppercase;
    padding:10px 15px 10px 15px;
    margin: 0 0 20px 0;
    background:#ffecfc;
    background-image: -moz-linear-gradient( 90deg, #e8f6fc 0%, #fff 100%);
    background-image: -webkit-linear-gradient( 90deg, #e8f6fc 0%, #fff 100%);
    background-image: -ms-linear-gradient( 90deg, #e8f6fc 0%, #fff 100%);
    border: none;
}
#content-leads td {
	padding: 10px 0 10px 5px ;
}
#content-leads tr {
	border-bottom: 1px #fff solid;
}
#content-leads td.type1 {
	font-weight: bold;
	text-align: center;
}
#content-leads td.type2 {
	text-align: center;
}

#profiles {
    float:left;
    width:100%;
    padding:15px 0 0 0;
    background-color:rgba(0, 158, 228, 0.9);
    margin-top:10px;
    color:#FFF;
}
.leadstitle {
	margin: 20px 0 5px 0;
	color: #fff;
}
#profiles ul, #content-leads ul {
    list-style-type: disc;
	margin-bottom: 10px;
}
#profiles li, #content-leads ul li {
	margin: 0 0 5px 22px;
	padding-left: 5px;
}
#profiles .kaeufer {
	border: 1px #fff solid;
}
.leadsimage {
	margin: 20px 0 0 0;
	vertical-align: bottom;
}
.leadsbutton, #content-leads .leadsbutton, #content-leads #inbound_form_submit {
	float: right;
    font-family: 'geogrotesquesemibold';
    font-size:1em;
    color: rgba(0, 158, 228, 1);
    text-transform: uppercase;
    display: block;
    width: 130px;
    padding:10px 15px 10px 15px;
    margin: 0 0 20px 0;
    background:#ffecfc;
    background-image: -moz-linear-gradient( 90deg, #e8f6fc 0%, #fff 100%);
    background-image: -webkit-linear-gradient( 90deg, #e8f6fc 0%, #fff 100%);
    background-image: -ms-linear-gradient( 90deg, #e8f6fc 0%, #fff 100%);
    border: none;
}
#content-leads .leadsbutton {
	float: right;
	margin-top: 20px;
	width: 145px;
}
#content-leads #inbound_form_submit {
	background: none;
	border: none;
	border-radius: 0px;
	color: rgba(0, 158, 228, 1);
	float: left;
}
.leadsbutton:visited, .leadsbutton:link, #content-leads .leadsbutton:visited, #content-leads .leadsbutton:link {
    color: rgba(0, 158, 228, 1);
}
.leadsbutton:hover, #content-leads .leadsbutton:hover {
    color: rgba(0, 158, 228, 1);
    background-image: -moz-linear-gradient( 90deg, #bbdeee 0%, #fff 100%);
    background-image: -webkit-linear-gradient( 90deg, #bbdeee 0%, #fff 100%);
    background-image: -ms-linear-gradient( 90deg, #bbdeee 0%, #fff 100%);
}

.kaeuferprofile {
  position:absolute;

  width:173px;
  height:171px;
  margin-left:930px;
  margin-top:50px;
}


.tptn_link {
    margin:5px 0;
}

.tptn_title {
    font-family: 'LatoLatinLight';
}

.tptn_related li {
    list-style-type: disc;
    font-family: 'LatoLight';
    height:40px;
}




/* Blog Styles */



.not-found {
    padding-bottom: 20px;
}


#searchform input {
    padding: 10px 5px;
    border: none;
    width:220px;
    margin-top:5px;
    display:inline;
}

#searchsubmit {
     color:#FFF;
    padding:10px 15px 10px 15px;
    background:#f29305;
    background-image: -moz-linear-gradient( 90deg, rgb(222,115,0) 0%, rgb(242,147,5) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(222,115,0) 0%, rgb(242,147,5) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(222,115,0) 0%, rgb(242,147,5) 100%);
    font-family: 'LatoLatin';
    border: none;
}

#searchsubmit:hover {
    background: #f29100;
      background-image: -moz-linear-gradient( -90deg, rgb(199,119,0) 0%, rgb(242,145,0) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(199,119,0) 0%, rgb(242,145,0) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(199,119,0) 0%, rgb(242,145,0) 100%);
    -moz-box-shadow:    inset 0 0 5px #b65e00;
   -webkit-box-shadow: inset 0 0 5px #b65e00;
   box-shadow:         inset 0 0 5px #b65e00;
    color:#e2bea7;
}

.entry-meta {
    color:#FFF;
    margin:10px 0;
}

.entry-date:before {
    font-family: 'FontAwesome';
    content:"\f017";
    padding:10px 10px 10px 0;
}

.author:before {
    font-family: 'FontAwesome';
    content:'\f007';
    padding:10px;
}

.entry-footer {
    padding:10px 0;
}

.comment-author img {
    width:50px;
    height:50px;
    float:left;
    margin-right:30px;
}
.comment {
    padding:10px 0;
}

.comment p {
    margin:10px 0;
}

.comments-title {
    margin:20px 0;
    border-bottom: 1px dotted #000;
}

.depth-2 {
    background-color:#EFEFEF;
    margin-left:20px;
}

.depth-3 {
    background-color:#EFEFEF;
    margin-left:30px;
}

.depth-4 {
    background-color:#EFEFEF;
    margin-left:40px;
}

.depth-5 {
    background-color:#EFEFEF;
    margin-left:50px;
}
#nav-below {
	display: none;
}
code {
	font-size: 0.8em;
}

/* Comment */

#comments {
    background: #e8e7db;
    color:#26686D;
    margin-top:10px;

}

#comments h3 {
    padding:20px 0;
    color:#26686d;
}

#comments, #comments h3 {
    color:#000;
}

#comments input, #comments textarea {

}

.comments-link:before {
    font-family: 'FontAwesome';
    content:'\f086';
    padding:10px;
}

.cat-links:before {
    font-family: 'FontAwesome';
    content:'\f07b';
    padding:10px;
}

.comment-form p label {
    float:left;
    height:30px;
    width:220px;
}

.comment-form p {
    display: block;

}

.comment-form input {
    border:1px solid #CCC;
    height:30px;
    float:left;
}

.comment-form input[type="submit"] {
    margin-bottom:20px;
    background-color:grey;
    border-radius:3px;
    padding:10px;
    height:auto;
    background-image: -moz-linear-gradient( 90deg, rgb(222,115,0) 0%, rgb(242,147,5) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(222,115,0) 0%, rgb(242,147,5) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(222,115,0) 0%, rgb(242,147,5) 100%);
    color:#FFF;

}

.comment-form input[type="submit"]:hover {
   background-image: -moz-linear-gradient( -90deg, rgb(199,119,0) 0%, rgb(242,145,0) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(199,119,0) 0%, rgb(242,145,0) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(199,119,0) 0%, rgb(242,145,0) 100%);
    -moz-box-shadow:    inset 0 0 5px #b65e00;
   -webkit-box-shadow: inset 0 0 5px #b65e00;
   box-shadow:         inset 0 0 5px #b65e00;
    color:#e2bea7;
}

/* Highlight active form field */

#respond input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}


#respond input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);

  border: 1px solid rgba(81, 203, 238, 1);
}



.postcontent {
    padding-right:20px;
}

.featuredtablet {
    display: none;
}

.featuredsmall {
    display: none;
}

.featuredmobile {
    display: none;
}

.productimage {
    display: block;
}

.productimagemobile img {
        display: none;
}

.dienstleistungen h2 {
  padding: 0 0 0 0;
}

/* Projektcheck */

#projektcheck #content {
	width: 944px;
}
#projektcheck .grid_6 {
	background-color: #fff;
	color: #095b60;
	margin: -10px 10px -10px -10px;
	padding: 10px 20px 10px 10px;
}
#projektcheck form {
	width: 85%;
	margin-top: 20px;
}
#projektcheck .ninja-forms-field h2 {
	color: #095b60;
}
#projektcheck .ninja-forms-required-items {
	visibility: hidden;
	display: none;
}
#projektcheck textarea {
	border: 1px #000000 solid;
}
#projektcheck p {
	margin: 10px 0;
}
#projektcheck .grid_4 li {
	padding-left: 5px;
	margin-left: 20px;
	list-style-type: disc;
}
#projektcheck .grid_4 h2 {
	margin-top: 20px;
}

/* Facebook */

#facebook #content {
	width: 760px;
	background: #fff;
}
#facebook h2, #facebook h3 {
	color: #fff;
}
#facebook .b2b.text h3 {
	color: #26686d;
	text-align: left;
	padding: 0;
}
#facebook .b2c.text h3 {
	color: #933383;
	text-align: left;
	padding: 0;
}
#facebook h3 {
	height: 35px;
	padding: 20px 0 15px 0;
	text-align: center;
}
#b2b, #b2c {
	float: left;
	width: 335px;
	margin-right: 20px;
	padding: 20px;
}
#b2b div, #b2c div {
	padding: 0 0 20px 0;
}
#b2b {
	background-color:#26686d;
}
#b2c {
	background-color:rgba(147, 51, 131, 0.9);
}
#facebook .grid_4 {
	width: 376px;
}
img.fb {
	width: 100%;
	border: 1px #ff0000 solid;
}
#facebook .grid_4.b2b {
}
#facebook .b2b.text{
	color: #26686d;
	background: #e8e7db;
	height: 140px;
	padding: 20px;
}
#facebook .grid_4.b2c {
}
#facebook .b2c.text {
	color: #933383;
	background: #fff;
	height: 140px;
	padding: 20px;
}
#facebook .b2c.text a, #facebook .b2c.text a:visited {
	color: #fff;
}

.gobutton {
  height: 37px;
  text-align: center;
  background-color: rgba(147, 51, 131, 0.9);
  color: white;
  width: 95%;
  border: none;
  border: 0;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 0;
  cursor: pointer;
  display: block;
  line-height: 37px;
}


/* Media Queries */

@media only screen and (min-width: 768px) and (max-width: 995px) {


    .kaeuferprofile {
      margin-left:400px;
    }

    .question {
        height:250px;
    }

    .featureddesktop {
        display: none;
    }

    #searchform input {
        width:160px;
    }

    .featuredtablet {
        display: block;

    }

    .employeeregion {
        height:130px;
    }

    #content {
        float: left;
    }


    .featuredtitle {
        padding:10px 0 10px 0;
    }



    .comment-form-author, .comment-form-email, .comment-form-url {
        height:60px;
    }

    .featuredsmall {
    display: none;
    }

    .featuredmobile {
    display: none;
    }
    .playbutton {
        margin-top:1px;
    }

    .featuredslidenav {
        width:290px;
        left:54%;
    }

    .quote {
        padding:10px;
        width:220px;
        height:160px;
    }

    #fl3 {
    width:520px;;
    height:300px;
    }

    .contentblock .grid_8 {
        width:100%;
    }

    #leftcontent {
        padding-top:20px;
        clear:both;
    }

    .registerinput {
        width:115px;
    }

    .widget-blog .offer {
    width:235px;
    }

    .offer {
        width:208px;
        margin-right:12px;
        height:240px;
    }



    .offerlast {
        margin-right:0;
    }

    .registerbutton {
        width:auto;
    }

    .offerheight {
        height:150px;
    }

    .employee {
        height:200px;
    }


     .contentblock h2 span {
          margin-right:0;
      }

      .featuredsinglenav a {
          width:240px;
      }

}


@media only screen and (max-width: 767px) {

    .btn-registration:hover, .btn-login:hover, #consultation_appointment-button:hover, .btn-home:hover {
    color:#FFF;
    }

    .navcontainer a:hover {
        color:#FFF;
    }

    .navcontainer a:focus {
        color:#ff8d30;
    }

    .kaeuferprofile {
      margin-top:60px;
      margin-left:290px;
    }

    #map {
        display: none;
    }

    #background {
        width:100%;
        height:100%;
    }
     #sidebar {
        display: none;
    }

    .sidebar {
        display: none;
        background: none;
        padding: 0;
        margin:0;
    }

    .featuredslidenav {
        font-size:90%;
        width:250px;
        left:44%;
        margin-top:10px;
    }

    .featuredslidenav a {
        padding:10px;
    }

    .question {
        height: auto;
    }

    .offer h3, .offer h3 {
        height:auto;
    }

    .employeeregion {
        height: auto;
    }

     .featuredtitle {
        padding:10px 0 10px 0;
    }

    .header .grid6 {
        padding:10px;
    }

    .playbutton {
        margin-top:7px;
        margin-left:2px;
    }

   .featureddesktop {
        display: none;
    }

    .featuredtablet {
        display: none;

    }



    #blogwidget {
        margin-top:-20px;
    }

     .widget-blog .offer {
         width:416px;
    }

    .offer {
        width:100%;
    }

    #site-description {
        text-align: center;

    }



    #fl3 {
    width:430px;
    height:240px;
    }

    .employee img, .employeeoverview img, .employeeregion , .employeeteam img, .employeedesc {
        width:90%;
        padding:0 5%;
    }

    .employeejob, .employeejob a, .employeejob a:visited, .employeejob a:hover {
    	color: #ffffff;
    }
    .employeedesc h3 {
    	margin-bottom: 0;
    }

    .employeeoverview {
        height:auto;
    }

    .page-content h2, .page-title, .advisory {
        text-align: center;
    }

    .employee h3 {
        text-align: center;
    }

    .customerwrp img {
        width:60%;
        padding:0 20%;
    }

    /* Slidernav tabs */

     .employee {
          height:270px;
      }



    .contentblock h2 span {
          margin-right:0;
      }

     .featuredbutton:after {
          margin-left:5px;
      }


    .offerheight {
        height: auto;
    }
    .navclear {
        margin-top:20px;
    }
    .productimage {
    display: none;
    }

     .productimage img {
          display: none;
         margin:0;
         padding:0;
      }

    .productimagemobile img {
        display: block;
    }

      .content h2 {
        color:#FFF;
        padding:0px 0 10px 0;
        margin-top: 15px;
     }

    .employeeoverview {
        margin-bottom: 0;
    }

    .page-content h2 {
        margin:0;
    }

    .contentblockwrp {
        padding-top:10px;
    }

    .contentblock .description p {
        padding-top:10px;
        padding-bottom: 0px;
    }

    .advisory h2 {
        margin-bottom: 10px;
    }

    .advisorywrp {
        padding-top:15px;
    }

    h2.team-title {
    padding-bottom: 5px;
    padding-top:0;
}


}


  @media only screen and (max-width: 479px) {


      .sidebar {
          display: none;
      }

      .registerinput {
          padding:5px;
      }

      #respond textarea {
        width:240px;
    }

       .featuredtitle {
        padding:10px 0 10px 0;
    }

       .widget-blog .offer {
         width:260px;
    }




       #fl3 {
    width:250px;
    height:150px;
    }


      h1.page-title {
          margin:5px;
      }



      .featuredbutton:after {
          margin-left:5px;
      }


      .button {
          padding:5px 5px;
      }



    .twittericon img {
        width:10%;
    }

    .playbutton {
        margin-top:8px;
        margin-left:3px;
    }

       .latest-post, .twitterbadge, .offer {
        width:260px;
        height:auto;
    }


        .projektentwickler, .investoren {
        line-height:1em;
    }

      .latest-post p, .twitterbadge p, .offer p {
          padding-right: 20px;
      }

   .featuredsinglenav {
       width:auto;
   }

    .featuredsinglenav a:after {
        margin-left:5px;
    }

    .jobname {
        margin-bottom:10px;
    }

      .employee {
          height:auto;
      }

      .contentblock h2 {
    color:#FFF;
    word-spacing:normal;
}


    }

/*Homepage Intro */
@import 'homeintro';
/* Homepage Services */
@import 'services';
/* Homepage Customers */
@import 'customers';
/* Homepage Partners */
@import 'partners';
/* Offer Boxen */
@import 'offers';
/* About Us Page */
@import 'about';
/* Blog */
@import 'blog';
/* Feeds */
@import 'feeds';