.usewrp {
  padding:0 22px;
}

.usewrp h3 {
  font-family: 'LatoLatinLight';
  text-transform: none;
}


.points {
  margin-left: 40px;
  list-style-position: outside;
}

.points li {
  margin: 0 0 30px 0;
  list-style-type: disc;
  color:#FFF;
  padding-left:10px;
}
.points h3 {
  color:#FFF;
  font-family: 'LatoLatinLight';
  text-transform: none;
}

.questionwrapper {
  color: #26686d;
}

.question {
  height:175px;
  border-top: 7px #26686d solid;
  border-bottom: 1px #26686d solid;
  padding: 20px 0;
  margin-bottom: 20px;
  font-size: 1.05em;
}
.stretch {
  height: 296px;
  @include max-width(md) {
    height:360px;
  }
  @include max-width(sm) {
    height:auto;
  }
}

.featured {
  &__questions {
    margin-top: 10px !important;
    background:$beige;
    & h2 {
      padding:15px 20px 15px 20px;
      color:$greencolor;
      & span {
        font-family: 'dosisregular';
      }
    }
  }
  &__questions-wrapper {
    display: flex;
    justify-content: space-between;
    padding:0 22px;
    @include max-width(sm) {
      padding:0 22px;
      flex-direction: column;
    }
    & .questionwrapper {
      width: 32%;
      @include max-width(sm) {
        width:100%;
      }
      padding-bottom: 15px;
      & p {
        color:$greencolor;
      }
    }
    & .question {
      & h3 {
        height:60px;
        @include max-width(sm) {
          height:auto;
          margin-bottom:10px;
        }
      }
      & h4 {
        text-transform: none;
        font-family:'LatoLatinLight';
      }

    }
  }

  &__testimonial {
    background-color: $greencolor;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include max-width(sm) {
      flex-direction: column;
      padding:0 22px;
    }
  }
  &__logo-wrapper {
    padding:0 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include max-width(sm) {
      flex-direction: column;
    }
    & a {
      padding:0 10px;
      flex-basis: 18%;
      @include max-width(sm) {
        flex-basis:80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:80%;
        & img {
          display: block;
          width:100%;
        }
      }
      @include max-width(xs) {
        width:100%;
      }
    }
  }
}

.testimonial {
  &__image {
    padding:50px 15px;
    flex-basis:25%;
    @include max-width(sm) {
      padding: 20px 15px;
    }
    & img {
      border-radius: 100%;
      padding:0;
      @include max-width(sm) {
        display: block;
        margin: 0 auto;
        width:60%;
      }
    }
  }
  &__text {
    flex-basis:66%;
    color:#FFF;
    & h4 {
      color:#FFF;
    }
    & p {
      font-size:1.8rem;
    }
  }
}

/* Customers */

.customerwrp {
  margin-top:10px;
  background:#e8e7dc;
  padding:0px 0 10px 0;
  color: #26686d;
  width:100%;
  & h2 {
    padding:0 22px;
    color:#FFF;
    margin-bottom: 10px;
    margin-top: 0;
    background-color: #26686d;
    line-height: 45px;
    width:100% !important;
  }

}

#featuredsubnav {
  ul {
    text-align: center;
    margin:0;
    padding:0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    @include max-width(sm) {
      flex-direction: column;
    }
    & li {
      flex-basis: 25%;
      &.current-menu-item a {
        @include button-beige-active;
      }
      & a {
        @include button-beige;
        display: flex;
        justify-content: center;
        padding:20px 10px 20px 10px;
        color:$black;
        &:hover {
          @include button-beige-hover;
        }
      }
    }
  }
}
