/* footer */

#footer {
  text-align: left;
  position: static;
  background-color:$beige;
  color:$greencolor;
  padding:30px 22px 30px 22px;
  margin-top: 10px;
  & a {
    color:$greencolor;
  }
  & .footer-widgets {
    display:flex;
    @include max-width(sm) {
      padding:0 11px;
      flex-direction: column;
    }
    & > * {
      border-right:1px solid grey;
      @include max-width(sm) {
        border-right: none;
        border-top:1px solid grey;
      }
    }
    & div:last-child {
      border:none;
      @include max-width(sm) {
      }
    }
    & .latest-post {
      flex-basis:45%;
      color:$greencolor;
      padding:0 15px;
      @include max-width(sm) {
        margin-top: 15px;
        flex-basis: auto;
        padding:10px 0 10px 0;
      }
      & h3 {
        margin-bottom:10px;
      }
      & h3 a {
        color: $greencolor;
        text-decoration:none;
      }
    }
  }
  & .feedtitle {
    display: flex;
    justify-content: space-between;
    @include max-width(xs) {
      flex-direction: column;
    }
  }
  & .twitterbadge {
    padding-left:15px;
    @include max-width(sm) {
      padding:0 0 10px 0;
      & .feedtitle {
        border-top: 1px solid grey;
        padding:10px 0 0 0;
      }
    }
  }
  & .twittermeta {
    font-size:0.667em;
    font-family: 'LatoBold';
  }
  & .tweetcontent, .e-entry-title, & #twitter-widget-0 {
    color:#26686d;
  }
}

#footernav {
  padding-right:15px;
  & ul {
    margin-top:10px;
    padding-left:15px;
    list-style: disc;
    & li {
      padding:5px;
      &:hover a {
        text-decoration:none;
        color:#F29100;
      }
    }
  }
  @include max-width(sm) {
    & h3 {
      margin-top: 10px;
    }
  }
}


.social-media {
  font-size:3rem;
  margin:0;
  display: flex;
  & a {
    font-size:4rem;
  }
  & li {
    text-align: center;
    list-style: none;
    &:hover a i {
      cursor: pointer;
      color:#F29100;
    }
  }
}


#copyright {
  text-align:center;
}
