/* footer */

#footer {
  text-align: left;
  position: static;
  background-color:$greencolor;
  color:$white;
  padding:30px 22px 30px 22px;
  margin-top: 10px;
  @include shadow;
  & #footer-column1 a, & .social-media a {
    color:$white;
  }
}

#footernav {
  & ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:10px;
    padding-left:0;
    list-style: none;
    & li {
      padding:5px;
      &:hover a {
        color:#F29100;
      }
    }
  }
  @include max-width(sm) {
    & h3 {
      margin-top: 10px;
    }
  }
}

.social-media {

  margin:0;
  display: flex;
  justify-content: center;
  & a {
    color:$white;
    font-size:5rem;
    padding:0 10px;
  }
  & li {
    text-align: center;
    list-style: none;
    &:hover a i {
      cursor: pointer;
      color:#F29100;
    }
  }
}


#copyright {
  text-align:center;
}
