/* Header */

#header {
    background:#FFF;
    padding-top:15px;
}

#site-description {
   margin-top:20px;
}

#site-title h1 {
    margin:0;
}

#branding {
    float:left;

}
#pageNavigationTop {
    padding-bottom:10px;
    padding-right:0px;
    float:right;
}


#pageNavigationTop a, #pageNavigationTop button {
    font-size:0.778em;
}

article .page {
    background:#26686d;
}

button {
    background:none;
    border:0;
    font-size:0.778em;
    padding:10px 8px 10px 8px;
}

button.login {
    color:#26686d;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'geogrotesquesemibold';
}

button.register {
    background-color:#639C9F;
     color:#FFF;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'geogrotesquesemibold';
}

.btn-registration:hover, .btn-login:hover, #consultation_appointment-button:hover, .btn-home:hover {
    color:#121314;
}

.btn-home {
    padding: 10px 12px;
    text-align: center;
}

.close-button:hover {
    cursor: pointer;
    color:#CCC;
}

.popover-title {
    background:#26686d;
}

.popover-content {
    padding-left:20px;
    padding-right:20px;
}

.form-login input {
    border:1px solid #CCC;
    color:#999;
    margin:5px 0;
    padding:5px;
}

.form-login input:hover, .form-login input:focus {
    color:#000;
    border-color: #9ecaed;
    box-shadow: 0 0 5px #9ecaed;
}

.form-login button {
    text-align:center;
    padding:5px;
    border:1px solid #CCC;
    width:100%;
    color:#000;
    font-size: 0.9em;
    margin:10px 0;
}

.login-dialog .hide {
    display: none;
}

.login-dialog {
    color:#000;
    font-size: 0.9em;
}

.login-dialog a {
    display: block;
    padding:5px 0;
    color:#095b60;
    text-decoration: underline;
}

.has-error .form-control {
    border-color: #b94a48;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.form-control {
    width:95%;
    margin-right:10px;
    vertical-align: middle;
}

.form-group input[type="checkbox"] {
    margin-right:10px;
}

.login-dialog .alert {
    padding:5px 0;
    color:#b94a48;
    text-align: center;
    background: #f2dede;
    border: 1px solid #eed3d7;
    padding:15px;
    margin-bottom:20px;
    margin-top: 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
}

.popover-label-content .content {
    background: none;
    width:100%;
    font-family: 'LatoLatinLight';
    font-size:1.2em;
    padding-bottom: 10px;
}

.popover-label-button {
    padding:10px 0;
    float:left;
    width:100%;
    font-size:1.2em;
}

.popover-label-button button {
    float:left;
    margin-right:10px;
}

.popover .content {
    background:#fff;
}

.col-md-12 {
  width: 100%;
}

.popover .col-xs-4 {
    float:left;
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-size: 12px;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
    background:#000;
    color:#FFF;
    width:200px;
    padding: 5px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.form-group {
  margin-bottom: 15px;
}
