/* Header */

#header {
  margin-top:10px;
    background:$white;
    padding:15px 0 30px 0;
    display:flex;
    justify-content: space-between;
  @include max-width(sm) {
    flex-direction: column;
    padding:15px 0 30px 0;
  }
  & #site-title {
    padding-left: 15px;
  }
  & .mobile-menu {
    margin-right:auto;
    & ul {
      list-style: none;
      padding-left:15px;
    }
    & .toggle-menu a > i {
      color:$greencolor;
      font-size: 4rem;
    }
    @include min-width(sm) {
      display:none;
    }
    & > ul > div {
      border-top: 1px solid grey;
      margin-top:15px;
      visibility: hidden;
      position: absolute;
      margin-left:-15px;
      &.active {
        visibility: visible;
        width:456px;
        @include max-width(xs) {
            width:300px;
        }
        & ul {
          padding-left: 0;
          width:100%;
          box-shadow: 0 4px 2px -2px gray;
          & li {
            background: $greencolor;
            padding: 15px 15px;
            &:hover {
              background: lighten($greencolor,20);
            }
            & a {
              color: $white;
            }
          }
        }
      }
    }
  }
  & .main-menu > div > ul {
    display: flex;
    margin:0;
    list-style: none;
    @include max-width(sm) {
      display: none;
    }
    & li {
      margin:5px 0;
      padding:0 5px;
      border-right: 1px solid $black;
      &.current-menu-item a {
        color: $black;
        text-decoration: underline;
      }
      & a {
        font-size:1.6rem;
        font-family: $latobold;
        color: $greencolor;
        &:hover {
          color:lighten($greencolor,20);
        }
      }
    }
    & li:last-child {
      border-right:none;
    }
  }

  & #pageNavigationTop {
    padding-right:0px;
    display: flex;
    align-items: center;
    @include max-width(sm) {
      margin-top:20px;
      width:100%;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
    & button {
      margin-right:10px;
      margin-left:5px;
    }
  }
  /* Language Selector */
  #lang_sel {
    height:42px;
    display: inline-block;
    position:relative;
    z-index:100;
    margin-right: 10px;
    font-family:$latobold;
  }

  /* remove all the bullets, borders and padding from the default list styling */
  & #lang_sel ul ul {width:70px;}

  /* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
  & #lang_sel li {float:left;width:70px;position:relative;}

  /* style the links for the top level */
  & #lang_sel a, #lang_sel a:link, #lang_sel a:visited {
    font-size: 1.6rem;
    display:block;
    margin-top:3px;
    text-decoration:none !important;
    color:$greencolor;
    border:1px solid #EFEFEF;
    line-height:32px;
    padding: 5px 10px;
    border-radius: 5px; /* future proofing */
    height: 42px;
  }

  /* hide the sub levels and give them a positon absolute so that they take up no room */
  & #lang_sel ul ul {position:absolute;height:0;top:42px;left:0; width:70px;border-top:0;}

  /* style the second level links */
  & #lang_sel ul ul a, #lang_sel ul ul a:link, #lang_sel ul ul a:visited {
    font-weight: normal;
    font-size: 1.6rem;
    background:#FFF;
    color:$greencolor !important;
    border-width:0px 1px 1px 1px;
    border-radius: 0;
    margin-top:0;
    line-height:32px;
    height:42px;
  }
  /* style the top level hover */
  & #lang_sel a:hover, #lang_sel ul ul a:hover{color:#000;}
  & #lang_sel :hover > a, #lang_sel ul ul :hover > a {color:#000;}
}

article .page {
    background:$greencolor;
}

.btn {
  font-weight: 300;
}
button.btn-login {
    font-size:1.6rem;
    text-decoration:none;
    text-transform:none !important;
    font-family:$latobold;
    height:42px;
    padding:0 10px;
}

.btn-login:hover, #consultation_appointment-button:hover {
    color:#121314;
  background-color:lighten($greencolor,20);
}

.close-button:hover {
    cursor: pointer;
    color:#CCC;
}

.popover-title {
  font-family: $latobold !important;
  background:#26686d;
  text-transform: none !important;
  font-size: 1.6rem !important;
}

.popover-content {
    padding-left:20px;
    padding-right:20px;
}

.form-login input {
    font-size:1.6rem;
    border:1px solid #CCC;
    color:#999;
    margin:5px 0;
    padding:5px;
}

.form-login input:hover, .form-login input:focus {
    color:#000;
    border-color: #9ecaed;
    box-shadow: 0 0 5px #9ecaed;
}

.form-login button {
    text-align:center;
    padding:5px;
    border:1px solid #CCC;
    width:100%;
    color:#000;
    margin:10px 0;
    font-family: $latobold !important;
    font-size: 1.6rem;
    font-weight: 300;
}

.login-dialog .hide {
    display: none;
}

.login-dialog {
    color:#000;
    font-size: 1.6rem;
}

.login-dialog a {
    display: block;
    padding:5px 0;
    color:#095b60;
    text-decoration: underline;
}

.has-error .form-control {
    border-color: #b94a48;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.form-control {
    width:95%;
    margin-right:10px;
    vertical-align: middle;
}

.form-group input[type="checkbox"] {
    margin-right:10px;
}

.login-dialog .alert {
    padding:5px 0;
    color:#b94a48;
    text-align: center;
    background: #f2dede;
    border: 1px solid #eed3d7;
    padding:15px;
    margin-bottom:20px;
    margin-top: 10px;
    border-radius: 4px;
}

.popover-label-content .content {
    background: none;
    width:100%;
    font-family: $latolight;
    font-size:1.2em;
    padding-bottom: 10px;
}

.popover-label-button {
    padding:10px 0;
    float:left;
    width:100%;
    font-size:1.6rem;
}

.popover-label-button button {
    float:left;
    margin-right:10px;
}

.popover .content {
    background:#fff;
}

.col-md-12 {
  width: 100%;
}

.popover .col-xs-4 {
    float:left;
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-size: 12px;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
    background:#000;
    color:#FFF;
    width:200px;
    padding: 5px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.form-group {
  margin-bottom: 15px;
}

