/*
  Homepage Intro Styles
*/

.homeintro {
  margin-top: 10px;
  background: $yellow;
  display:flex;
  padding:30px 22px;
  justify-content: space-between;
  @include shadow;
  @include max-width(sm) {
    display: block;
    flex-direction: column;
  }
  &__content {
    & h1 {
      text-transform: none;
      margin: 10px 0;
    }
    & p {
      font-size:2rem;
    }
    & ul {
      margin:0;
      font-size:2rem;
      line-height:2.5rem;
      padding-left:5px;
      list-style: none;
      & > li:before {
        content: '- ';
      }
    }
  }
  &__play {
    flex-basis:40%;
    position: relative;
    @include max-width(sm) {
      position: static;
      text-align: center;
    }
    & a {
      color:$greencolor;
      &:hover {
        color: lighten($greencolor,2);
      }
    }
    & i {
      font-size:15rem;
      position:absolute;
      top:20%;
      left:5%;
      translate3d: (-50%, -50%, 0);
      @include max-width(sm) {
        position: static;
      }
    }
  }
}