.partners {
  background-color:$greencolor;
  margin-top:10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  & h2 {
    color:$white;
    padding:15px 22px 0 22px;
  }
  &__images {
    padding:10px;
    & p {
      display: flex;
      justify-content: space-around;
      align-items: center;
      @include max-width(sm) {
        flex-direction: column;
        & img {
          display: block;
          margin: 10px auto;
        }
      }
    }
  }
}