.services {
  margin-top:10px;
  background-color: $greencolor;
  @include shadow;
  & h2 {
    color: $white;
    padding:30px 22px;
    text-align: center;
  }
  &__wrapper {
    display:flex;
    @include max-width(md) {
      flex-direction: column;
    }
  }
  &__service {
    flex-basis: 33%;
    padding: 22px;
    @include max-width(md) {
      padding:11px;
    }
  }
  &__content {
    color:$white;
    display: flex;
    flex-direction: column;
    text-align:center;
    & h3 {
      padding:20px 0 0 0;
      color:$white;
      flex-basis:80px;
      @include max-width(md) {
        flex-basis:auto;
      }
    }
    & p:first-child {
      margin:0;
      flex-basis: 70px;
      @include max-width(md) {
        flex-basis:auto;
      }
    }
  }
  &__imagewrapper {
    @include max-width(md) {
      height:auto;
      & img {
        display: block;
        margin: 0 auto;
      }
    }
  }

}
.services__buttons {
  background: $greencolor;
  display: flex;
  justify-content: space-around;
  padding:10px 0 45px 0;
  & .button {
    margin:0 10px;
  }
  &.bottom {
    margin-top: 10px;
    padding:20px 0 20px 0;
    @include shadow;
  }
}