@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@include font-face(LatoLatinLight, 'assets/fonts/LatoLatin-Light', normal, normal, eot woff2 woff ttf);
@include font-face(LatoBold, 'assets/fonts/LatoLatin-Bold', bold, normal, eot woff2 woff ttf);
@include font-face(LatoLatin, 'assets/fonts/LatoLatin-Regular', normal, normal, eot woff2 woff ttf svg);
@include font-face(geogrotesquesemibold, 'assets/fonts/geogtq-sb-webfont', normal, normal, eot woff ttf svg);
@include font-face(dosisbold, 'assets/fonts/dosis-bold-webfont', normal, normal, eot woff ttf svg);
@include font-face(dosisregular, 'assets/fonts/dosis-regular-webfont', normal, normal, eot woff ttf svg);

$latolight: 'LatoLatinLight';
$latobold: 'LatoBold';
$latoregular: 'LatoLatin';
$geogrotesque: 'geogrotesquesemibold';
$dosisbold: 'dosisbold';
$dosisregular: 'dosisregular';